# Auth Configuration
NEXTAUTH_URL="http://localhost:3000"

# Default locale for internationalization
NEXT_PUBLIC_DEFAULT_LOCALE="vi"

# API URL
NEXT_PUBLIC_API_URL="http://localhost:3001/api"

# E2E Testing
E2E_TEST_PASSWORD=

# Cloudinary Configuration
# For client-side components, we need cloud_name exposed
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
# For server-side operations (optional, if needed)
CLOUDINARY_URL=